body{
    text-align: center;
    font-size: 4ch;
    background-color: black;
    color: #FAF9F6;
    font-family: 'Trebuchet MS', sans-serif;
}

.picture img{
    height: 35%;
    width: 35%;
}

.container{
    margin-top: 200px;
}

.but {
    margin:auto;
    background-color: red;
    width: 450px;
    height: 50px;
    border-radius:10px;
}